
.header {
    background: #7FFF00;
    text-align: center;
    height: 100px;
    margin-bottom: 10px;
    display: flex;
}
.menu {
    background: #00FFFF;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    display: flex;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.sidebar {
    width: 30%;
    height: 500px;
    background: #00008B;
    float: left;
    margin-right: 10px;
    display: flex;
    
}
.content {
    width: 69%;
    height: 500px;
    background: #C0C0C0;
    float: left;
    text-align: center;
    display: flex;
}

.footer{
    background: #FFD700;
    text-align: center center;
    margin-top: 10px;
    height: 100px;
    display: flex;
}
p {
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold
}